<nav>
    <ul style="display: flex; justify-content: start; list-style: none;">
        <li><a href="/">Home</a>&nbsp;</li>
        <li><a href="/produtos">Produtos</a>&nbsp;</li>
        <li><a href="/fornecedores">Fornecedores</a>&nbsp;</li>
        <li><a href="/departamentos">Departamentos</a>&nbsp;</li>
        <li><a href="/funcionarios">Funcionários</a>&nbsp;</li>

        {{#if usuario}}
        <li><a href="/usuarios/logout">Sair</a>&nbsp;</li>
        {{else}}
        <li><a href="/usuarios/login">Entrar</a>&nbsp;</li>
        <li><a href="/usuarios/registro">Registrar</a>&nbsp;</li>
        {{/if}}
    </ul>
</nav>

