<nav>
    <ul style="display: flex; justify-content: start; list-style: none;">
        <li><a href="/">Home</a>&nbsp;</li>
        <li><a href="/produtos">Produtos</a>&nbsp;</li>
        <li><a href="/fornecedores">Fornecedores</a>&nbsp;</li>
    </ul>
</nav>        

