<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm p-4">
                <h1 class="text-center mb-4">Login</h1>
                <form action="/usuarios/login" method="POST">
                    <div class="mb-3">
                        <label for="nome_usuario" class="form-label">Usuário ou E-mail</label>
                        <input type="text" class="form-control" id="nome_usuario" name="nome_usuario">
                    </div>
                    <div class="mb-3">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-3">Entrar</button>
                    <div class="text-center">
                        Não tem uma conta? <a href="/usuarios/registro">Registrar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>