<div class="container mt-5">
    <div class="card p-4 shadow-sm">
        <h1 class="card-title text-center mb-4">Editar Usuário</h1>
        <form action="/usuarios/save" method="post">
            <input type="hidden" name="id" value="{{usuario.id}}">

            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" value="{{usuario.nome}}" required>
            </div>

            <div class="mb-3">
                <label for="nome_usuario" class="form-label">Nome de Usuário</label>
                <input type="text" class="form-control" id="nome_usuario" name="nome_usuario" value="{{usuario.nome_usuario}}" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" value="{{usuario.email}}" required>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Salvar</button>
        </form>
    </div>
</div>
